<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <!-- Only specify feed for Arcade SDK (see https://github.com/Microsoft/msbuild/issues/2982) -->
  <packageSources>
    <clear />

    <!--
    Consolidated feed for VSMac packages and other DevDiv feeds.
    Reducing the number of feeds speeds up restore and improves reliability (as we want to move off unreliable feeds such as myget).
    You can upload one-off packages here as well as add upstream feeds. Packages from upstream feeds will be cached on access.
    This feed already includes nuget.org as upstream.
    
    View and edit this feed, push new packages, view or add upstream feeds at:
    https://devdiv.visualstudio.com/DevDiv/_packaging?_a=settings&feed=VSMac&view=upstreams&showFilters=true
    -->
    <add key="VSMac" value="https://devdiv.pkgs.visualstudio.com/DevDiv/_packaging/VSMac/nuget/v3/index.json" />

    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet5" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json" />
    <add key="dotnet5-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5-transport/nuget/v3/index.json" />
    <add key="fsharp-daily" value="https://www.myget.org/F/fsharp-daily/api/v3/index.json" />
    <add key="vs-devcore" value="https://myget.org/F/vs-devcore/api/v3/index.json" />
    <add key="roslyn_concord" value="https://myget.org/F/roslyn_concord/api/v3/index.json" />
    <add key="gRPC repository" value="https://grpc.jfrog.io/grpc/api/nuget/v3/grpc-nuget-dev" />

  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
